@using BookStore_Management.Models;
@model List<Sach>

@{
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    ViewBag.Title = "Index";
}

@section Information{
    The earliest foundations of what would become computer science predate the invention of the modern digital computer. Machines for calculating fixed numerical tasks such as the abacus have existed since antiquity, aiding in computations such as multiplication and division. Further, algorithms for performing computations have existed since antiquity, even before the development of sophisticated computing equipment. The ancient Sanskrit treatise Shulba Sutras, or "Rules of the Chord", is a book of algorithms written in 800 BC for constructing geometric objects like altars using a peg and chord, an early precursor of the modern field of computational geometry.
}

@*Div Body Index*@

<div id="divBody">
    @*Loading Books from Database to Main View*@
    @foreach (var item in Model)
    {
        <div id="Books">
            <div id="BookCover"><img src="@Url.Content("~/BookImages/" + @item.AnhBia)" width="100" height="150" /></div>
            <div id="BookName">@item.TenSach</div>
            <div id="BookPrice">@item.GiaBan</div>
        </div>
    }

</div>
