@using BookStore_Management.Models;
@model List<ChuDe>
    @foreach (var item in Model)
    {
        <a href="#" class="button">item.TenChuDe</a>
    }

<a href="#" class="button button-submit">More..</a>
@*  
    <a href="#" class="button button-submit">MUSIC</a>
    <a href="#" class="button">COMPUTER</a>
    <a href="#" class="button button-submit">UNIVERSAL</a>
    <a href="#" class="button">BIOLOGY</a>
    <a href="#" class="button button-submit">WORLDWIDE</a>
*@
